@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'leaflet/dist/leaflet.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul.leaders {
  max-width: 40em;
  padding: 0;
  overflow-x: hidden;
  list-style: none
}

ul.leaders li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content:
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
}

ul.leaders span:first-child {
  padding-right: 0.33em;
}

ul.leaders span+span {
  float: right;
  padding-left: 0.33em;
}

.modal-overlay {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-overlay.show {
  opacity: 1;
}

.modal-content {
  transform: scale(0.95);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal-content.show {
  transform: scale(1);
  opacity: 1;
}

input[type='date'],
input[type='time'] {
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 38px;
  text-align: left;
  min-width: 90%;
}

input[type='date']::-webkit-datetime-edit,
input[type='time']::-webkit-datetime-edit {
  padding: .5rem;
}

/* Burger menu */

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  /* stroke: black; */
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* Slick */

#root .slick-list {
  overflow: visible;
}

#root .slick-dots {
  display: flex;
  padding: 2.5rem 0;
}

#root .slick-track {
  display: flex;
  height: inherit;
}

#root .slick-slide {
  height: inherit;
}

#root .slick-slide > div {
  height: 100%;
}

@keyframes dropBounce {
  0% { width: scale(1) translateY(0); }
  50% { transform: scale(1.5) translateY(0); }
  100% { transform: scale(1) translateY(0); }
}

.drop-bounce.active {
  animation: dropBounce .5s;
}

/* In your main CSS file */
.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400 dark:bg-gradient-to-r dark:from-purple-500 dark:to-pink-500;
}
